@keyframes rotate {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

  @keyframes spinAround {
    from {
      transform: rotate(0deg) translate(140px);
    }
    to {
      transform: rotate(360deg) translate(140px);
    }
  }

  .item {
    animation: spinAround 15s linear infinite;
  }

  .main > * > img {
    animation: rotate 15s linear infinite;
  }