.main {
    width: 90%;
    height: 350px;
    background-color: #F2F7F2;
    border-color: #EEE;
    border-radius: 10px;
    border-width: 2px;
    display: grid;
    justify-content: center;
    align-content: center;
  }

  .main > * {
    grid-column: 1;
    grid-row: 1;
  }

  .me {
    align-self: center;
    justify-self: center;
    width: 140px;
    height: 140px;
    border-radius: 50%;
  }

@keyframes rotate {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

  @keyframes spinAround {
    from {
      transform: rotate(0deg) translate(140px);
    }
    to {
      transform: rotate(360deg) translate(140px);
    }
  }

  .item {
    animation: spinAround 15s linear infinite;
  }

  .main > * > * {
    animation: rotate 15s linear infinite;
  }

  .split {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }