iframe {
    border-radius: 20px;

}

.project-split {
    margin-top: 24px;
    display: grid!important;
    grid-template-columns: 50% 50%;
    justify-items: center!important;
    align-items: center!important;
}
